* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
}
#main {
  height: 100vh;
  width: 100%;
  background-image: url(https://images.pexels.com/photos/1049751/pexels-photo-1049751.jpeg?_gl=1*108izdw*_ga*MTMwMzI5ODE5LjE3ODg1MTg4MDM.*_ga_8JE65Q40S6*czE3ODg1MTg4MDIkbzEkZzEkdDE3ODg1MTkwOTckajU0JGwwJGgw);
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
  color: #fff;
}
#nav h2 {
  font-size: 40px;
}

#nav i {
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
}

#full {
  height: 100%;
  width: 40%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.16);
  top: 0;
  right: -40%;
  backdrop-filter: blur(30px);
  padding: 150px 60px;
}

#full h4 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 5px;
  color: antiquewhite;
}

#full i {
  position: absolute;
  top: 5%;
  right: 10%;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  font-weight: 600;
  font-size: 25px;
  cursor: pointer;
}
